<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0" 
	id="com.inappbrowser.pgbtest" 
	version="1.0.0">
	
    <name>
        Ajax Request
    </name>
    <description>
        Ajax Request Test App
    </description>

    <author href="https://sub.example.com" email="someone@email.com">
        Yourname
    </author>

	<access origin="*" />
 
</widget>
